<!DOCTYPE html>
<html class="fa-events-icons-failed" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="Description" content="#">
		<title>Your Company | Description, Location, SERVICES</title>
		<link rel="stylesheet" href="files/style.css" type="text/css">
		<link rel="stylesheet" href="files/menu.css" type="text/css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
	</head>
	<body>
		<header>
			<!-- Full screen nav-->
			<nav class="primary d-none d-md-block d-sm-none fixed-top">
				<ul id="navbar" class="bg-dark">
					<a href=""><li id="navbar--logo"><img src="files/logo.png" alt="logo"></li></a>
					<a href=""><li class="first home-nav">
						&nbsp;
						Link &nbsp;
						</li>
					</a>
					<a href=""><li class="about-nav">
						Link &nbsp;
						</li>
					</a>
					<a href=""><li class="inventory-nav">
						<img src="files/locations-mobile-icon.png" alt=" icon" class="mobile--icon"> &nbsp;
						Link &nbsp;
						</li>
					</a>
					<a href=""><li class="financing-nav">
						<img src="files/financing-mobile-icon.png" alt=" icon" class="mobile--icon"> &nbsp;
						Link &nbsp;
						</li>
					</a>
					<a href=""><li class="contact-nav">
						<img src="files/contact-mobile-icon.png" alt=" icon" class="mobile--icon"> &nbsp;
						Link &nbsp;
						</li>
					</a>
				</ul>
			</nav>
			<!-- Mobile NavBar-->
			<nav class="navbar navbar-expand-lg bg-light navbar-light py-3 fixed-top d-block d-md-none">
				<div class="container">
					<a href="index.html" class="navbar-brand w-50"><img src="./files/logo.png" class="img-fluid w-50" alt="Your Logo"></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
					<div class="collapse navbar-collapse primary" id="navmenu">
						<ul class="navbar-nav ms-auto"s>
							<li class="nav-item">
								<a href="#" class="nav-link">Link</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">Link</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">Link</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">Link</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">Link</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- mobile nav bar -->
			
		</header>
		<div id="hero" class="img-fluid hero">
			<section class="text-light py-5 p-lg-0 pt-lg-5 text-center text-sm-start">
				<div class="container">
					<div class="d-sm-flex align-items-center justify-content-between"> 
						<div class="faded-blue shadow border border-1 rounded-3 p-4 col-sm-6 mx-auto">
							<h1 class="text-dark text-shadow-sm">Your Title</h1>                    
							<p class=" my-4 lead text-dark">A Catch phrase to grab your audience! - Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, ex.</p>
							<a href="#contactus" class="btn btn-primary btn-lg">Connect Now</a>
						</div>
					</div>
				</div>
			</section>
		</div>
		<section class="p-2" id="services">
			<div class="container-fluid">			
				<!----------------- Service Cards ----------------->
				<div class="row justify-content-center">
					<div class="col-md-10 mx-auto">
						<div class="row">
							<div class="col-md p-3 mt-3 shadow">
								<h1>Our Services</h1>
								<hr>
								<p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos suscipit expedita, delectus nobis ex nostrum reiciendis maiores fuga, ea, fugit totam eveniet quibusdam a! Delectus, aliquid rem enim modi minus excepturi similique officia soluta minima hic sint facere, tenetur suscipit quae quo esse vel? Laborum consequuntur qui aperiam odit explicabo maxime sit tenetur beatae magni assumenda modi neque tempora provident, officia voluptates earum eius vitae aspernatur delectus est dolor accusamus debitis fugit quasi. Veritatis quam autem maiores distinctio iusto, itaque corrupti veniam. Sapiente doloribus dolorum magni assumenda, optio laboriosam tempore rem esse aspernatur corrupti accusantium vero maiores ipsum perspiciatis sit fugiat? Quaerat beatae accusamus ducimus quas quod, nulla culpa cum repellat optio voluptate perspiciatis quisquam quia eaque iusto corrupti dignissimos!</p>
							</div>
						</div>
						<div class="row">
							<!-- Service Cards -->
							<div class="col-md mt-5">
								<div class="card w-100 shadow h-100">
									<div class="card-header text-center"><i class="bi bi-card-checklist h3"></i>Your Service #1</div>
									<!--<img src="./files/clients/acs-logo.png" class="card-img-top" alt="Alberta Crane Service Ltd.">-->
									<div class="card-body p-1 shadow-sm">
										<p class="card-text">
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nesciunt, quas delectus sunt consectetur voluptate at doloremque obcaecati unde ipsum nemo corporis quis eum necessitatibus facere pariatur quo nihil praesentium.
										</p>								
										<div class="text-center"><a href="#" class="btn btn-primary my-3">More Information</a></div>
									</div>
								</div>
							</div>
							<div class="col-md mt-5">
								<div class="card w-100 shadow h-100">
									<div class="card-header text-center"><i class="bi bi-gear-wide-connected h3"></i>Your Service #2</div>
									<!--<img src="./files/clients/acs-logo.png" class="card-img-top" alt="Alberta Crane Service Ltd.">-->
									<div class="card-body p-1 shadow-sm">
										<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptas odit possimus quibusdam eos qui totam commodi quisquam, blanditiis vel, eius ipsa tempore dolor, voluptate magnam exercitationem id! Repellendus dicta perspiciatis asperiores nemo, porro sed soluta. Minima enim repellat necessitatibus repellendus molestiae molestias? Sequi, totam!</p>
										
										<div class="text-center"><a href="#" class="btn btn-primary my-3">More Information</a></div>
									</div>
								</div>
							</div>
							<div class="col-md mt-5">
								<div class="card w-100 shadow h-100">
									<div class="card-header text-center"><i class="bi bi-exclamation-octagon-fill h3"></i>Your Service #3</div>
									<!--<img src="./files/clients/acs-logo.png" class="card-img-top" alt="Alberta Crane Service Ltd.">-->
									<div class="card-body p-1 shadow-sm">
										<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora iusto ex velit vero consequatur, quo dolore reprehenderit fugit ad excepturi fugiat labore quidem? Excepturi ipsam facere cumque?</p>
										
										<div class="text-center"><a href="#" class="btn btn-primary my-3">More Information</a></div>
									</div>
								</div>
							</div>					
						</div>
						<div class="row">
							<!-- Service Cards -->
							<div class="col-md mt-5">
								<div class="card w-100 shadow h-100">
									<div class="card-header text-center"><i class="bi bi-bag h3"></i>Your Service #4</div>
									<!--<img src="./files/clients/acs-logo.png" class="card-img-top" alt="Alberta Crane Service Ltd.">-->
									<div class="card-body p-1 shadow-sm">
										<p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum quidem ab laudantium nobis! Omnis quidem fuga quo suscipit aspernatur consequuntur veniam adipisci, at officia temporibus blanditiis laboriosam? Aliquid, placeat velit dolore aliquam nisi corrupti animi et nesciunt. Repellat, amet autem soluta perferendis aperiam error tempore, facere id culpa minus earum.</p>
										
										<div class="text-center"><a href="#" class="btn btn-primary my-3">More Information</a></div>
									</div>
								</div>
							</div>
							<div class="col-md mt-5">
								<div class="card w-100 shadow h-100">
									<div class="card-header text-center"><i class="bi bi-bar-chart-line-fill h3"></i>	Your Service #5</div>
									<!--<img src="./files/clients/acs-logo.png" class="card-img-top" alt="Alberta Crane Service Ltd.">-->
									<div class="card-body p-1 shadow-sm">
										<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate recusandae, porro, temporibus corporis est quidem magni, magnam soluta mollitia beatae dolor facilis in odit autem reprehenderit odio. Quis eligendi illo sequi eius dolores ullam consequuntur, nihil, in mollitia fuga, repellendus culpa possimus.</p>
										
										<div class="text-center"><a href="#" class="btn btn-primary my-3">More Information</a></div>
									</div>
								</div>
							</div>
							<div class="col-md mt-5">
								<div class="card w-100 shadow h-100">
									<div class="card-header text-center"><i class="bi bi-battery h3"></i>Your Service #6</div>
									<!--<img src="./files/clients/acs-logo.png" class="card-img-top" alt="Alberta Crane Service Ltd.">-->
									<div class="card-body p-1 shadow-sm">
										<p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias hic exercitationem dignissimos reiciendis corporis, quos quasi minus. Quos nihil natus, vel officiis autem dolore nemo quibusdam accusantium provident placeat fugiat iure dicta veniam quae excepturi, ipsam est aliquam ratione delectus esse quo illum quam. Illum alias quod impedit distinctio pariatur aspernatur quo, rem nisi est molestiae nulla, ex mollitia. Nam esse quod repellat quos minima facilis quas aperiam soluta, hic harum doloribus natus sequi excepturi error quasi nisi itaque amet atque necessitatibus? Rerum.</p>
										
										<div class="text-center"><a href="#" class="btn btn-primary my-3">More Information</a></div>
									</div>
								</div>
							</div>					
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="2" class="p-3">
			<div class="container-fluid">
				<!----------------- ABOUT TEXT ROW ----------------->
				<div class="row justify-content-center about-row line-bg">
					<div class="col-sm-8">
						<h1>About Us</h1>
						<hr>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus metus sit amet nisi efficitur, et pulvinar lacus vehicula. Cras ut cursus sapien, ac aliquet sem.</p>
							<p>Quisque lobortis risus sit amet pharetra elementum. Vestibulum hendrerit eu mauris eget dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								Donec imperdiet tortor id ligula ultrices facilisis. Etiam magna arcu, varius et enim ut, accumsan vehicula felis. 
							</p>
							<p>Vestibulum nibh risus, vestibulum ac nunc vitae, ullamcorper luctus odio. Vestibulum vel fringilla nibh. Cras facilisis orci id leo gravida consectetur. Phasellus consectetur et ipsum dapibus ultricies. Fusce porttitor sapien sit amet egestas malesuada. Aliquam non venenatis mauris. Nullam efficitur nunc ut commodo tempor. Vivamus leo enim, sagittis nec libero sit amet, porttitor sodales nisl.
						</p>
					</div>
			
				</div><!----------------- FOOTER ----------------->
			</div>
		</section>
		<section id="3" class="p-3 dark-bg">
			<div class="container-fluid">
				<div class="row justify-content-center">
					<div class="col-sm-10 mx-auto">
						<h2 class="text-center">Contact Us</h2>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-sm-10 mx-auto">
						<img src="/files/contactus.png" class="img-fluid w-50 float-start p-4" alt="">
						<p class="lead m-3">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis eligendi facere repellendus maxime iste accusantium officia deserunt nam vitae, quasi vel ipsa ullam suscipit veritatis, molestiae assumenda. Facere aspernatur nobis velit laboriosam amet rem perspiciatis non adipisci? Molestiae adipisci dolorem deleniti ipsa beatae tenetur autem commodi ab mollitia quod, fuga nemo, consequuntur consequatur, quaerat unde vel? Totam consequuntur deleniti animi voluptatibus ipsa odit aliquam reiciendis iusto non assumenda, blanditiis inventore optio nostrum at reprehenderit. Voluptatem cupiditate soluta cumque alias quas, provident, neque officiis debitis aspernatur perspiciatis, itaque nihil harum dignissimos beatae optio dolor iure architecto? Numquam possimus ipsam sapiente autem.
						</p>
					</div>
				</div>
			</div>
		</section>
		<section id="4" class="p-1">
			<div class="container-fluid justify-content-center">
				<div class="row justify-content-center about-row line-bg">
					<div class="col-sm-10 mx-auto">
						<h2>Mission Statement</h2>
						<img src="/files/aboutus.png" alt="" class="float-end img-fluid w-25">
						<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, maxime labore alias repudiandae cupiditate laborum dolor tempore sequi, id animi corporis natus ipsa, pariatur laboriosam. Officia atque, nisi voluptate laudantium obcaecati illum blanditiis similique eveniet nulla facere dicta laborum provident incidunt saepe voluptatibus, distinctio earum corporis. Neque corrupti ducimus fuga nobis tempora reprehenderit, soluta error nostrum aperiam consequatur dolorum odio suscipit debitis eos. Illum voluptates quibusdam deleniti, provident assumenda perspiciatis cumque impedit quasi sunt similique cum explicabo blanditiis nobis obcaecati neque incidunt. Iste in eos et, esse vel, eligendi deserunt sapiente eveniet excepturi animi quo rem provident possimus sint praesentium.</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi mollitia obcaecati similique ea magnam, cumque cupiditate hic aliquam iure maxime voluptates et eum molestiae error. Aspernatur, facere deleniti maiores repellendus aliquid earum quibusdam minima optio sint illo at, quod alias amet iure? Nulla voluptas unde id velit deleniti minus exercitationem libero alias quos perspiciatis error atque nobis nemo rem soluta maxime expedita veritatis, itaque mollitia excepturi omnis voluptatem! Nesciunt unde ipsam sequi a ullam amet vel quasi maxime magnam nostrum. Iusto accusantium repellendus est at.</p>
					</div>
				</div>
			</div>
		</section>
		<footer class="bg-dark">
			<div class="container-fluid">
				<div class="row">
					&nbsp;
				</div>
			</div>
		</footer>
	</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>